[tool.poetry]
name = "bigearthnet_common"
version = "0.1.0"
description = "A collection of common tools to interact with the BigEarthNet dataset."
authors = ["Kai Norman Clasen <snakemap_navigation@protonmail.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/kai-tub/bigearthnet_common"
repository = "https://github.com/kai-tub/bigearthnet_common"
# TODO: add this to the documentation page!
# documentation = ""
keywords = ["geopandas", "ben", "bigearthnet", "script"]
include = [
    "LICENSE",
]


[tool.poetry.dependencies]
# geopandas deprecated Python 3.6
python = "^3.7"
# pandas is implicit dependency of geopandas
geopandas = "^0.10"
rich = "^10"
pydantic = "^1.8"
fastcore = "^1.3"
natsort = "^8"
pygeos = "^0.12"
pyarrow = "^6"
appdirs = "^1.4"
# typer is only required for CLI interface, but can
# be listed as true dependency in my opinion
typer = "^0.4"


[tool.poetry.dev-dependencies]
nbdev = "^1.1"
# 6.1.13/6.2 seem to be broken in combination with nbdev
jupyter_client = "<6.1.13"
black = "*"
isort = "*"
# Strictly speaking, I do not require these in the library
folium = "*"
matplotlib = "*"
mapclassify = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
