[tool.poetry]
name = "bigearthnet_common"
version = "2.1.2"
description = "A collection of common tools to interact with the BigEarthNet dataset."
authors = ["Kai Norman Clasen <snakemap_navigation@protonmail.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/kai-tub/bigearthnet_common"
repository = "https://github.com/kai-tub/bigearthnet_common"
documentation = "https://kai-tub.github.io/bigearthnet_common/"
keywords = ["ben", "bigearthnet", "script", "tools"]
include = [
    "LICENSE",
]


[tool.poetry.dependencies]
# geopandas deprecated Python 3.6
python = "^3.7"
rich = "^10|^11"
pydantic = "^1.8"
fastcore = "^1.3"
natsort = "^8"
appdirs = "^1.4"
# typer is only required for CLI interface, but can
# be listed as true dependency in my opinion
typer = "^0.4"


[tool.poetry.dev-dependencies]
nbdev = "^1.1"
# 6.1.13/6.2 seem to be broken in combination with nbdev
jupyter_client = "<6.1.13"
black = "*"
isort = "*"
numpy = "^1.20"

[tool.poetry.scripts]
ben_constant_prompt = "bigearthnet_common.constants:constants_prompt"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
